#wrapper{
	width: 1000px;
	height: 1000px;
	background-image: radial-gradient(#6f5964, #26151a);
}
#header{
	width: 100%
	height: 300px;
	background-color: #f9f9f9;
	padding: 1px;
}
.name{
	width: 680px;
	display: inline-block;
}
.name h2{
	color: #020307;
	/*margin-left: 15px;*/ 
	margin: 0px 0px 0px 15px;
}
.title{
	display: inline-block;
}
.title h3{
	color: #010405;
	/*margin-right: 10px;*/
	/*padding-right: 10px;*/
	/*position: absolute-right;*/
}
#main_content{
	width: 100%
	height: 400px;
	/*border: 2px dotted yellow;*/
}
.image{
	width: 440px;
	height: 280px;
	display: inline-block;
	/*border: 2px dotted yellow;*/
	vertical-align: top;
	/*padding: 15px;*/
	margin-right: 30px;
	margin-left: 20px;
}
.image img{
	margin-top: 15px;
	margin-bottom: 15px;
	border: 5px solid #c0c0c0;
	width: 450px;
	height: 250px;
}
.about{
	width: 450px;
	height: 250px;
	display: inline-block;
	/*border: 2px dotted green;*/
	vertical-align: top;
	padding: 15px;
}
#about_title{
	/*border: 2px dotted blue;*/
	width: 450px;
	background: linear-gradient(#a9a9ae, #878593, #a9a9ae);
	padding: 5px;
}
#about_title h3{
	margin: 0px;
	color: #ffffff;
}
#about_info{
	width: 450px;
	height: 218px;
	/*border: 2px dotted red;*/
	background: linear-gradient(to right, #fefdfe, #dbccda);
	padding: 5px;
}
#about_info a{
	margin: 12px;
	font-size: 16px;
	color: #25313c;
}
#about_info p{
	margin: 12px;
	font-size: 16px;
}
#information{
	border: 2px dotted green;
	padding: 20px;
}
.la_mode{
	width: 300px;
	height: 530px;
	display: inline-block;
	border: 2px dotted blue;
	vertical-align: top;
	margin-right: 15px;
}
#la_mode_title{
	display: block;
	background: linear-gradient(#a9a9ae, #878593, #a9a9ae);
	padding: 5px;
}
#la_mode_title h3{
	margin: 0px;
	color: #ffffff;
}
#la_mode_image{
	display: block;
	height: 140px;
	border: 2px dotted yellow;
	vertical-align: bottom;
}
#la_mode_image img{
	display: block;
	width: 300px;
	height: 157px;
	vertical-align: bottom;
	margin-bottom: 0px;
	border: 1px solid pink;
}
#la_mode_info{
	display: block;
	vertical-align: top;
	margin-top: 0px;
	height: 175px;
	background: linear-gradient(to right, #fefdfe, #dbccda);
}
#la_mode_info p{
	text-align: justify;
	padding: 5px;
}
#la_mode_tech_title{
	display: block;
	background: linear-gradient(#a9a9ae, #878593, #a9a9ae);
	padding: 5px;
}
#la_mode_tech_title h4{
	margin: 0px;
	color: #ffffff;
}
#la_mode_tech{
	display: block;
	height: 138px;
	background: linear-gradient(to right, #fefdfe, #dbccda);
	vertical-align: bottom;
}
#la_mode_tech img{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid yellow;
}
.family_contacts{
	width: 300px;
	height: 530px;
	display: inline-block;
	border: 2px dotted pink;
	vertical-align: top;
	margin-right: 15px;
}
#family_contacts_title{
	background: linear-gradient(#a9a9ae, #878593, #a9a9ae);
	padding: 5px;
}
#family_contacts_title h3{
	margin: 0px;
	color: #ffffff;
}
#family_contacts_image{
	display: block;
	height: 140px;
	border: 2px dotted yellow;
	vertical-align: bottom;
}
#family_contacts_image img{
	display: block;
	width: 300px;
	height: 157px;
	vertical-align: bottom;
	margin-bottom: 0px;
	border: 1px solid pink;
}
#family_contacts_info{
	height: 175px;
	background: linear-gradient(to right, #fefdfe, #dbccda);
}
#family_contacts_info p{
	text-align: justify;
	padding: 5px;
}
#family_contacts_tech_title{
	background: linear-gradient(#a9a9ae, #878593, #a9a9ae);
	padding: 5px;
}
#family_contacts_tech_title h4{
	margin: 0px;
	color: #ffffff;
}
#family_contacts_tech{
	height: 138px;
	background: linear-gradient(to right, #fefdfe, #dbccda);
	vertical-align: bottom;
}
#family_contacts_tech img{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid yellow;
}
.fiveEleven{
	width: 300px;
	height: 530px;
	display: inline-block;
	border: 2px dotted orange;
	vertical-align: top;
}
#fiveEleven_title{
	background: linear-gradient(#a9a9ae, #878593, #a9a9ae);
	padding: 5px;
}
#fiveEleven_title h3{
	margin: 0px;
	color: #ffffff;
}
#fiveEleven_image{
	display: block;
	height: 140px;
	border: 2px dotted yellow;
	vertical-align: bottom;
}
#fiveEleven_image img{
	display: block;
	width: 300px;
	height: 157px;
	vertical-align: bottom;
	margin-bottom: 0px;
	border: 1px solid pink;
}
#fiveEleven_info{
	height: 175px;
	background: linear-gradient(to right, #fefdfe, #dbccda);
	/*padding: 5px 5px;*/
}
#fiveEleven_info p{
	text-align: justify;
	padding: 5px;
}
#fiveEleven_tech_title{
	background: linear-gradient(#a9a9ae, #878593, #a9a9ae);
	padding: 5px;
}
#fiveEleven_tech_title h4{
	margin: 0px;
	color: #ffffff;
}
#fiveEleven_tech{
	height: 138px;
	background: linear-gradient(to right, #fefdfe, #dbccda);
	vertical-align: bottom;
}
#fiveEleven_tech img{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid yellow;
}
.button{
	/*position: absolute;*/
	/*background-color: green;*/
	/*background: green;*/
}
#footer{
	background-color: #f9f9f9;
	padding: 10px;
}
.email_number{
	margin: 0px;
}
.social_media{
	margin: 0px;
}
.social_media img{
	width: 20px;
	height: 20px;
	border: 1px solid yellow;
}
.social_media a{
	color: #25313c;
}