#wrapper{
  width: 970px;
  height: auto;
  border: 1px dotted black;
}
.header{
  border: 1px dollted blue;
  display: block;
}
/*.header img{
  position: absolute;
  vertical-align: top;
  margin: 0;
}
.header p{
  position: absolute; top: 5; right: 0;
  vertical-align: top;
  margin: 0;
  display: block;
}
.header button{
  position: absolute; top:10; right: 0;
  display: block;*/
}
.header input{
  /*position: absolute; top:10; right: auto;*/
  /*display: inline-block;*/
}
.info{
  border: 1px dotted pink;
  display: block;
}
.content{
  border: 1px dotted green;
  display: block;
}
.footer{
  border: 1px dotted yellow;
  display: block;
}
